<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to mianhuatang house!</title>
</head>
<body>
	<div style="width: 100%;">
		<header style="padding: 20px 20px;height: 30px;line-height: 30px;font-size: 30px;text-align: center;">Mian Hua Tang Two</header>
		
		<section style="padding: 30px;background-image: url(/img/images/mianhuatangtwo.jpeg')">
				<p style="height: 20px;line-height: 20px;font-size: 26px;text-align: center;">service is running!</p>
		</section>
		<footer style="position: absolute;bottom: 15px;left:30%;right: 30%;">版权棉花糖Two <strong>备案号：201805212631478523</strong></footer>
	</div>

</body>
</html>