@charset "UTF-8";

.register-content{
	width:100%;
	min-width:1024px;
	height:650px;
	background-image: url('/images/register-background.jpeg');
	background-position: center center;
    background-repeat: no-repeat;
}
.register-form{
	width:500px;
	position:absolute;
	right:80px;
	top:150px;
}
.register-title{
	margin: 20px 20px;
	text-align: center;
}